.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  background: #5E50A1;
  box-shadow: -24px 0 #5E50A1, 24px 0 #5E50A1;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #5E50A1;
    box-shadow: -24px 0 transparent, 24px 0 #5E50A1;
  }
  66% {
    background: transparent;
    box-shadow: -24px 0 #5E50A1, 24px 0 #5E50A1;
  }
  100% {
    background: #5E50A1;
    box-shadow: -24px 0 #5E50A1, 24px 0 transparent;
  }
}